/* Add styles for truYum application here */

.logo {
    height: 50px;
    width: 50px;
    padding: 3px;
    margin-left: 25px;
}

.center-1 {
    margin-top: 200px;
    margin-left: 600px;
}

.center-2 {
    margin-top: 200px;
    margin-left: 700px;
}

.customer-table tr td:first-child {
    text-align: left;
}

.customer-table tr td:nth-child(2) {
    text-align: center;
}

.customer-table tr td:nth-child(4) {
    text-align: center;
}

.customer-table tr td:nth-child(5) {
    text-align: center;
}

.admin-table tr td:first-child {
    text-align: left;
}

.admin-table tr td:nth-child(3) {
    text-align: center;
}

.admin-table tr td:nth-child(4) {
    text-align: center;
}

.admin-table tr td:nth-child(5) {
    text-align: center;
}

.admin-table tr td:nth-child(6) {
    text-align: center;
}

.admin-table tr td:nth-child(7) {
    text-align: center;
}

#admin-edit-form {
    display: none;
    border: 1px solid red;
    margin-top: 200px;
    margin-left: 600px;
    overflow: hidden;
}

#admin-edit-form form {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}